/* all common styles */
body {
  font-family: "Open Sans", sans-serif;
}
.orange {
  color: #fd6e0a;
}

.primary-btn {
  border-radius: 5px;
  background: #fd6e0a;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
}
/* nav related styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
  padding-left: 94px;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
}

/* Header related style */
.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");

  background-repeat: no-repeat;
  background-position: bottom right, top left;
}

.banner {
  padding: 30px 30px 0 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner > img {
  width: 500px;
  height: 600px;
  /* margin-left: 417px; */
}

.banner-greeting {
  color: #474747;
  font-size: 45px;
  margin-bottom: 5px;
}

.banner-content {
  width: 600px;
}

.banner-title {
  font-size: 85px;
  margin-top: 0;
  margin-bottom: 20px;
}

.banner-description {
  width: 585px;
}

/* main section */
main{
  max-width: 1140px;
  margin: 0 auto;
  
}
/* About Section */
.about {
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 0px;
}

.about-info-container{
  display: flex;
  justify-content: space-around;
}

.info-title{
  text-align: center;
}
